/* body {
    background-color: grey;
} */

.background {
    background-color: #F3F6F9;
    padding: 1em;
}

.gym {
    border: 1px solid;
    background-color: blue;
    border-radius: 20px;
    margin: 5px;
}

/* Home Page */
/* .main {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1em;
} */

.mui-card {
    margin: 20px 0;
    padding: 1em;
    text-align: start;
}

.box {
    width: 80%;
}

.card-image {
    width: 19%;
}

.card-image img {
    float: right;
    width: 100%;
}

.type-bubble-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap:1em;
    column-gap: 1.5em;
    width:100%;
    margin: 0px 0px;
}

.type-bubble {
    background-color: aqua;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin: 0px;
}

/* Gym Details Page */

.row1 {
    display: flex;
    width: 100%;
}

.col1 {
    width: 45%;
}

.col2 {
    width: 54%;
    display: flex;
    flex-direction: column;
}

.row2 {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 2em;
}

.row3 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.reviewCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0px;
    border-radius: 20px;
    padding: 2em;
    row-gap: .1em;
}